<!DOCTYPE html>
<html>
  <head>
    <title>FestivalPlaylistBuilder</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'playlist-builder-bundle' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
